<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appreciation Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', sans-serif; background-color: #ffffff; margin: 0; padding: 0;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" height="100%" style="background-color: #ffffff; padding: 20px 0;">
        <tr>
            <td align="center" valign="top">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="background-color: #ffffff; border-radius: 10px; border-color: #DCDCDC;border-width: 1px; overflow: hidden;">
                    <tr>
                        <td align="center" style="background-color: #F5F8FF; padding: 40px 20px;">
                            <h1 style="font-family: 'Inter', sans-serif; margin: 0; font-size: 30px; font-weight: 700; color: #3069F6; line-height: 29.05px; margin-bottom: 20px;">Peerly</h1>
                            <img src="{{.BadgeImageName}}" alt="Badge Image" style="margin: 20px 0;">
                            <p style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 500; line-height: 29.26px; color: #1C1C1C;">Hi {{.EmployeeName}}</p>
                            <p style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 500; line-height: 29.26px; color: #000; margin-top: 20px;">Congratulations!<br>You have achieved the {{.BadgeName}} badge for<br> accumulating {{.AppreciationPoints}} points.</p>
                            <div style="font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 400; color: #333333; text-align: center; line-height: 19.5px;">
                                This is a fantastic achievement and a testament to your<br>hard work and dedication. We're proud to have you on our<br>team. Keep up the great work and continue to earn more<br>points and badges!
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
