<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reported Appreciation Notification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', sans-serif; background-color: #ffffff; margin: 0; padding: 0;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" height="100%" style="background-color: #ffffff; padding: 20px 0;">
        <tr>
            <td align="center" valign="top">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="background-color: #ffffff; border-radius: 10px; overflow: hidden;">
                    <tr>
                        <td align="center" style="background-color: #F5F8FF; padding: 40px 20px;">
                            <h1 style="font-family: 'Inter', sans-serif; margin: 0; font-size: 30px; font-weight: 700; color: #3069F6; line-height: 29.05px; margin-bottom: 20px;">Peerly</h1>
                            <img src="https://pg-stage-intranet.joshsoftware.com/peerly/assets/checkIcon.png" alt="Feedback Icon" style="margin: 20px 0;">
                            <p style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 500; line-height: 29.26px; color: #1C1C1C; margin-top: 20px;">Your feedback is important for us,thank you <br>for reporting.<br>Our team will look into this and necessary<br>action will be taken soon.</p>
                            <div style="margin-top: 50px;font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 500; color: #000000; text-align: center; line-height: 19.5px;">
                                Hi {{.SenderName}}
                            </div>
                            <div style="margin-top: 20px; font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 500; color: #000000; text-align: center; line-height: 19.5px;">
                                Thank you for bringing this to our attention.
                            </div>
                            <div style="margin-top: 20px; font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 400; color: #000000; text-align: center; line-height: 19.5px;">
                                We have received your complaint regarding the appreciation <br>for {{.AppreciationReceiverName}} given by {{.AppreciationSenderName}}
                            </div>
                            <div style="margin-top: 30px; font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 600; color: #333333; text-align: center;">
                                Reported Appreciation:
                            </div>
                            <div style="margin-top: 10px; font-family: 'Nunito Sans', sans-serif; font-size: 14px; font-weight: 400; color: #000000; text-align: center;">
                                {{.ReportingComment}}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
